html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightcoral;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    max-width: 100vw;
}

/* || Top Navigation element -------------------
------------------------------------------- */
.main-navigation li {
    list-style-type: none;
    margin-top: 20px;
    font-size: 3vh;
}

.main-navigation a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 2vw;
}
.main-navigation a:hover {
    background-color: lightblue;
    padding: 20px 2vw;
}

nav {
    width: 100%;
    background-color: lightcoral;
    margin-bottom: 40px;
}

.main-navigation ul {
    margin: 0;
    display: flex;
}

/* || Main Display element -------------------
------------------------------------------- */
.flex {
    display: flex;
}
.spacer {
    width: 30%;
    min-width: 30%;
}

/* .flex-container img {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2vw;
    padding: 1.2vw;
    background-color: white;
}  */
.mid {
    width: 40%
}
.mid img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2vw;
    padding: 1.2vw;
    background-color: white;
} 

div.right { /* right column set visibility = hidden */
    width: 30%;
    /* flex-grow: 0; */
    visibility: hidden;
}

p.right {
    margin: 0 1.2vw 1.2vw 1.2vw;
    background-color: lightblue;
    border: 1.2vw solid white;
    word-wrap: break-word;
    padding: 0.2vw;
    font-size: 1.75vh;
}

.mid:hover ~ div.right { /* on hover over mid column, set right colum visibility = visible */
    visibility: visible;
}

.flex-container img:hover { /* on hover over image, set background color change */
    background-color: lightblue;
}

/* ---------------------------------------------------- */
.home-main-writing {
    max-width: calc(40vw + 40px);
    margin-left: auto;
    margin-right: auto;
}

.home-main-writing p {
    text-align: left;
}

.box {
    inline-size: 150px;
  }
  
  .horizontal {
    writing-mode: horizontal-tb;
  }
  
  .vertical {
    writing-mode: vertical-rl;
  }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
.minHeightExample {
    border: 10px solid white;
    min-height: 100px;
    width: 200px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
input[type="text"],
input[type="email"] {
  border: 2px solid #000;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  border: 3px solid #333;
  background-color: #999;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #333;
}